@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Keania+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    min-height: 100vh;
    font-family: "Expletus Sans", sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.65)
        ),
        url("https://images.hdqwalls.com/wallpapers/disney-tron-ares-2025-x3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navContainer {
        display: flex;
        justify-content: center;
    }
    
    .nav {
        background: linear-gradient(180deg, #991212, #4d0707);
        border-radius: 50px;
        width: 100vw;
        max-width: 1000px;
        height: 45px;
        margin: 5px 20px auto;
        padding: 0;
        gap: 0px;
        display: flex;
        align-items: center;
        list-style: none;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.699);
        transition: 0.3s ease;
        overflow: hidden;
    }
    
    .nav:hover {
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
        transform: translateY(-2px);
    }
    
    .nav-item {
        list-style: none;
        height: 100%;
        flex: 1;
        transition: flex 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: flex 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .nav-item:hover {
        flex: 1.5;
    }
    
    .nav-link {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        transition: background-color 0.3s ease, color 0.3s ease;
        text-align: center;
    }
    
    .nav-link:hover {
        background-color: rgba(240, 69, 69, 0.37);
        color: #000000;
    }


h3{
    font-size: 20px;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.title h1 {
    font-size: clamp(50px, 8vw, 150px);
    color: rgb(168, 4, 4);
    text-shadow:
        6px 3px 2px rgba(49, 8, 8, 0.85),
        0 0 20px rgba(255, 0, 0, 0.6);
    font-family: "Keania One", sans-serif;
    letter-spacing: 5px;
}

p {
    font-size: calc(10px + 1vw);
    margin-top: 10px;
}

.contador {
    position: absolute;
    bottom: 120px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

.contador > div {
    flex: 1;
}

.contador h1 {
    font-size: clamp(30px, 3vw, 55px);
    color: white;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.contador p {
    font-size: 26px;
    margin-top: 5px;
}

button {
    position: absolute;
    border: none;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(0, 100%, 19%) 8%,
       hsl(0, 98%, 20%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(357, 97%, 26%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }


